    /* Regla 1. Utilizar el elemento ```body``` para cambiar el tipo de fuente del documento a ```font-family: 'Barlow Condensed', sans-serif;``` con google fonts.*/
    body {
        font-family: 'Barlow Condensed', sans-serif;
      }
  
      /* Regla 2. El elemento ```body``` tendrá un relleno ( ´´´padding´´´) del ```20%``` únicamente a la derecha y izquierda y tendra un color de fondo (```background-color```) blanco.*/
      body {
        padding: 0 20%;
        background-color: white;
      }
  
      /* Regla 3. Todos los elementos del texto con la clase ```encabezado```, tendran un color de fondo rojo. */
      .encabezado {
        background-color: red;
      }
  
      /* Regla 4. Los elementos con la eltiqueta ´´´h1´´´ tendran un color de letra blanco, estaran alienados en el centro tendran un relleno de 10px.*/
      h1 {
        color: white;
        text-align: center;
        padding: 10px;
      }
  
      /* Regla 5. Todos los elementos del text con la clase ´´´titulos´´´ tendran un margen de 0 y un color de letra de #333.*/
      .titulos {
        margin: 0;
        color: #333;
      }
  
      /* Regla 6. Los elementos de la pagina con una etiqueta ´´´div´´´ tendran un relleno del 2%, un borde de 2px de grosor de color rojo y con las esquinas redondeadas (border-radius) con un radio de 5px.*/
      div {
        padding: 2%;
        border: 2px solid red;
        border-radius: 5px;
      }
  
      /* Regla 7. Los elementos con el id ```copastitle``` tendran un margen de 0 y un color de letra ```rgb(192, 163, 0)``` */
      #copastitle {
        margin: 0;
        color: rgb(192, 163, 0);
      }
  
      /* Regla 8  Las imagenes de toda la pagina tendran un tamaño (```width```) del 70% un margen del lado derecho del 16% y con las esquinas redondeadas con un radio de 25px. */
      img {
        width: 70%;
        margin-left: 16%;
        border-radius: 25px;
      }
  
      /* Regla 9  Los elementos con el id ```imagenestitle``` tendran un margen de 0 y un color de letra ```#333``` y el texto estara alineado a la derecha.*/
      #imagenestitle {
        margin: 0;
        color: #333;
        text-align: right;
      }
  
      /* Regla 10 Los elementos con el id ```copyright``` estaran alienados a la derecha.*/
      #copyright {
        text-align: right;
      }